$color1: #010E26;
$color2: #011944;
$color3: #05215A;
$color4: #1A2F6F;
$color5: #1B3E85;
$color6: #38386D;
$color7: #523966;
$color8: #793C65;
$color9: #AB4367;
$color10: #CC384F;
$color11: #DC3D53;
$color12: #FC4953;
$color13: #FC6655;
$color14: #FD945D;
$color15: #FDA776;

$navy1: $color1;
$navy2: #011539;
$navy3: $color2;
$blue1: $color3;
$blue2: $color4;
$royal1: $color5;
$royal2: $color6;
$purple1: $color7;
$purple2: $color8;
$pink1: $color9;
$pink2: $color10;
$salmon1: $color11;
$salmon2: $color12;
$orange1: $color13;
$orange2: $color14;
$yellow1: $color15;

body {
  background-color: $navy1;
  color: $royal1;
  font-family: "Avenir", "Helventica Neue", sans-serif;
}


@media screen and (min-width: 41em) {
  #container {
    max-width: 50em;
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
  background-color: $navy2;
}

header {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  color: $navy3;
  text-align: center;
}

#logo {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 0.3em;
  background-color: $salmon2;
  color: $navy3;
  display: inline-block;
}

nav {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

nav span {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}

nav a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;

}

header nav span:nth-child(8n+1) {
  background-color: $color14;
}
header nav span:nth-child(8n+2) {
  background-color: $color13;
}

header nav span:nth-child(8n+3) {
  background-color: $color12;
}

header nav span:nth-child(8n+4) {
  background-color: $color11;
}

header nav span:nth-child(8n+5) {
  background-color: $color10;
}

header nav span:nth-child(8n+6) {
  background-color: $color9;
}

header nav span:nth-child(8n+7) {
  background-color: $color8;
}

header nav span:nth-child(8n+8) {
  background-color: $color7;
}

#container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  font-size: 1.1em;
}

#container a {
  color: $navy1;
  background-color: $orange2;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-decoration: none;
}
